.App {
  text-align: center;
}
html{
  background: url(/src/images/nova.jpg);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.homepage{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.products{
  display: flex;
}
.uKorpi{
  display: flex;
  flex-direction: column;
  grid-template-rows: auto;
  row-gap: 10px;
  margin: 20px;
  border-style: solid;
  background-color: aliceblue;
  border-width: 5px;
  border-color: rgb(228, 238, 93);
  border-radius: 30px;
  width: 500px;
  height: 550px;
  margin-top: 100px;
  padding: 20px;  

}
.singleProduct{
  display: flex;
  flex-direction: column;
  grid-template-rows: auto;
  row-gap: 7px;
  margin: 20px;
  border-style: solid;
  background-color: rgb(255, 255, 255);
  border-width: 5px;
  border-color: rgb(228, 238, 93);
  border-radius: 30px;
  width: 500px;
  height: 710px;
  margin-top: 100px;
  padding: 20px;  
}

.cena{
  margin: 15px;
}
.opis{
  text-align: justify;
}
.naziv{
  text-align: center;
  padding-bottom: 10px;
}
.buton{
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  margin-top: 30px;
}
.btn{
  margin: 5px;
  padding-left: 0%;
  border-radius: 3px;
  border-width: 0px;
}
.btn:active{
  background-color: rgb(225, 236, 173);
}

.App-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.emptyCart{
  background-color: aliceblue;
  text-align: center;
  margin-top: 5%;
  margin-left: 20%;
  margin-right: 20%;
  color: rgb(12, 53, 88);
  padding-left: 5px;
  padding-right: 5px;
  font-size: 4em;
}
.cene{
  display: flex;
  flex-direction: row;
}

.pretrazi{
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  margin-left: 3px;
  position: absolute;
  display: flex;
  flex-direction: row;
  border-color: darkblue;
  padding: 10px;
}
.pretraziPolje{
  display: flex;
  flex-direction: row;
  height: 20px;
}
.btnP{
  color: rgb(228, 238, 93);
  margin-left: 5px;
  font-size: large;
}


